// 从底部滑动而出/而入
.slide-enter, .slide-leave-to {
  transform: translateY(100%);
}
.slide-enter-active, .slide-leave-active {
  transition: transform .2s ease-out;
}
.slide-enter-to, .slide-leave {
  transform: translateY(0);
}
// 右侧滑入/滑出(transform)
.right-slide-transform-enter, .right-slide-transform-leave-to {
  transform: translateX(100%);
}
.right-slide-transform-enter-active, .right-slide-transform-leave-active {
  transition: transform .2s ease-out;
}
.right-slide-transform-enter-to, .right-slide-transform-leave {
  transform: translateX(0);
}
// 淡入淡出
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease-in;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}
