// 从底部滑动而出/而入
.slide-enter, .slide-leave-to {
  transform: translateY(100%);
}
.slide-enter-active, .slide-leave-active {
  transition: transform .2s ease-out;
}
.slide-enter-to, .slide-leave {
  transform: translateY(0);
}
// 淡入淡出
.fade-enter, .fade-leave-to {
  opacity: 0;
}
// .fade-enter-active, .fade-leave-active {
//   transition: opacity 1s ease-in;
// }
.fade-enter-active {
  transition: opacity .2s ease-out;
}
.fade-leave-active {
  transition: opacity 1s ease-in;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}
