html, body, div, ul, li, a, img, span, nav, header, footer, p, input {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100px;
}

body {
  font-size: .16rem;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif";
}

ul, li {
  list-style: none;
}

input {
  background: none;
  border: 0;
  outline: 0;
}
a {
  text-decoration: none;
}