html, body, div, ul, li, dl, dt, dd, a, img, span, nav, header, footer, section, time, p, input, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100px;
}

body {
  font-size: .16rem;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Helvetica, Arial, Verdana, sans-serif";
}

ul, li {
  list-style: none;
}

input {
  background: none;
  border: 0;
  outline: 0;
}
textarea {
  background: none;
  border: 0;
  outline: 0;
  resize: none;
}
a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
